@using SistemaArmazem.Models.Entities
<div class="row">
    <nav class="nav navbar-default menu-topo">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-fixo" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Armazém", "Index", "Home", null, new { @class = "navbar-brand logotipo" })
            </div>
            <div id="menu-fixo" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    @if (Session["User"] == null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Simulacao", "Simulacao", "Home")</li>

                        <li>@Html.ActionLink("Contato", "Contato", "Home")</li>

                        <li>@Html.ActionLink("Login", "Login", "Home")</li>

                        <li>
                            <span class="btn btn-default btn-cadastrar-menu">@Html.ActionLink("Cadastre-se", "Cadastrar", "Home")</span>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        if (((Cliente)(Session["User"])).grupo == "admin")
                        {

                        }
                        else
                        {
                            <li>@Html.ActionLink("Pedido", "Simulacao", "Home")</li>
                        }

                        <li>@Html.ActionLink("Contato", "Contato", "Home")</li>

                        <li>@Html.ActionLink("LogOff", "LogOff", "Home")</li>

                        if (((Cliente)(Session["User"])).grupo == "member")
                        {
                            <li>
                                <span class="btn btn-default btn-cadastrar-menu">@Html.ActionLink("Painel de Controle", "PaineldeControleUsuario", "Home")</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <span class="btn btn-default btn-cadastrar-menu">@Html.ActionLink("Painel de Controle", "PaineldeControleAdmin", "Home")</span>
                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
    </nav>
    <hr class="divisoria-menu">
</div>